
/* src/componentes/Rodape/index.js */

.footer {
   background: #6278F7;
   color: #FFF;
   padding: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.footer ul li {
   display: inline-block;
   margin-right: 32px;
}

.footer ul li:last-child {
   margin-right: 0;
}

.footer img {
   image-rendering: auto;
}

@media (max-width: 789px) {

   .logo-organo {
      display: none;
   }

   .footer {
      padding: 60px;
   }
}

@media (max-width: 520px) {

   .logo-organo {
      display: none;
   }

   .footer {
      padding: 40px;
   }
}
