.botao {
   width: 167px;
   height: 80px;
   background: #6278F7;
   color: #FFFFFF;
   border: none;
   border-radius: 10px;
   font-style: Montserrat;
   font-weight: 700;
   font-size: 20px;
   cursor: pointer;
   margin-top: 40px;
}

.botao:hover {
   color: #95FFD4;
   transition: 4s;
}